<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for fetching data from GitHub -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Test App"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        tools:targetApi="35">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Test App"
            android:theme="@style/Theme.Test">
            <intent-filter>
                <action android:name="android.content.Intent.action.MAIN" />
                <category android:name="android.content.Intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>